@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}

html {
  font-size: 62.5%;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}
button {
  border: none;
  background: transparent;
  cursor: pointer;
}
a,
button {
  transition: 0.3s ease-in-out;
}
.flex {
  display: flex;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.align-center {
  display: flex;
  align-items: center;
}
.fit-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
body {
  background: linear-gradient(180deg, #b068e9 0%, #6463e7);
  padding: 0rem 2.4rem;
  min-height: 100vh;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
.main {
  background: white;
  border-radius: 2.3rem;
  box-shadow: 0 50px 50px -20px rgba(53, 18, 122, 0.497159);
}
/* -===-=-=-=-=-=-=- 0.0 */
.toggle-component {
  display: none;
}
.main__title {
  color: #1e1f36;
  margin-bottom: 3.5rem;
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 4rem;
}
.main__accordion-box {
  max-width: 9.5rem;
}
.main__q {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: #4b4c5f;
  padding-bottom: 1.6rem;
  padding-left: 0.1rem;
  padding-right: 1.6rem;
  border-bottom: 1px solid #e8e8ea;
  width: 100%;
}
.main__q:hover,
.main__q:focus {
  color: #f47b56;
}
.main__q::after {
  font-family: "Font Awesome\ 5 Free";
  content: "\f078";
  font-weight: 900;
}
.main__q.open::after {
  content: "\f077";
}
.active-btn {
  font-weight: 700;
}
